
/* mobi */

@media only screen and (max-width : 760px){
	.sanphammoi .owl-theme .item{
	  padding-right: 15px;
	  padding-left: 15px;
	}
  
	.modal-content {
	  width: 100%;
	}
	  .bannera{
		  width: 100%; 
		  display: none;
	  }
	  .spn{
		  margin-left: 50px;
	  }
  
	  .bannera .tittle2 span{
		  left: 10px;
	  }
	  .phantrang{
		  margin-right: 40%;
	  }
	  .btn{
		  font-size: 14px;
	  }
  
	  .ft2{
		  display: none;
	  }
	  .brand{
		  display: block;
	  }
	  .chitiet_sp_lq{
		  width: 50%;
	  }
	  .content_chitiet .noidung_chitiet{
		  margin-top: 10px;
	  }
	  
	  .khungbaoquanh{
		  padding: 0px;
		  border: none;
		  margin: 0px;
	  }
	  .taikhoan{
		  margin-left: 0px;
	  }
	  .taikhoandn{
		  margin-left: 0px;
	  }
  }
  /* tablet */
  @media only screen and (max-width : 768px){
  
	  .btn{
		  font-size: 14px;
	  }
	  .spn{
		  margin-top: 5%;
	  }
	  .sanpham .bannera .img1 {
		  height: 210px
	  }
	  .phantrang  .pagination .page-link{
		  color: black;
	  }
	  form.example input[type=text]{
		  width: 75%;
	  }
	  .anh_sp_lq{
		  display: none;
	  }
	  .seachinff{
	  font-size: 29px;
	  margin-left: 20px;
	  }
	  
  }
  
  @media only screen and (max-width : 1025px){
	  .btn{
		  font-size: 14px;
	  }
	  .spn{
		  margin-top: 5%;
	  }
	  .sanpham .bannera .img1 {
		  height: 210px
	  }
	  .phantrang  .pagination .page-link{
		  color: black;
	  }
	  .anh_sp_chitiet img{
		  width: 100%;
	  }
	  .navbar-light .navbar-nav .active>.nav-link{
			  padding: 15px 10px;
	  }
  }