body{
  margin: 0;
  padding: 0;
}

/* topnav */
.topnav2 ul{
  padding: 0;
  margin: 0;
  display: inline-block;
  padding: 10px;
}

.navbar-collapse{
  flex-grow: 0 !important;
}



.topnav2 ul li {
  list-style: none;
  color: white;
}

.topnav2 ul a li:hover{
  color: red;
}

.topnav1 ul a li:hover{
  color: red;
}
.topnav2 ul a{
  text-decoration: none;

}
.topnav .topnav2 li{
  font-size: 15px;
  display: inline-block;
  color: #fff;
}

.topnav1 ul{
  padding: 0;
  margin: 0;
  display: inline-block;
  padding: 10px;
}

.topnav1 ul li {
  list-style: none;
  color: white;
}




.topnav1 ul a{
  text-decoration: none;
}
.topnav .topnav1 li{
  font-size: 15px;
  display: inline-block;
  color: #fff;
}
.list-inline{
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
  float: right !important;
}
.topnav .topnav2 .inline{
  float: right !important;
  display: inline-block;
}

/* hết top nav */


/* menu */
.navbar-light .navbar-nav .nav-item{
  margin-right: 5px;
}

.navbar-light .navbar-nav .nav-item>.nav-link{
  color: #252525;
  padding: 28px 10px;
  font-size: 15px;
  font-family: sans-serif;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .active>.nav-link{
  color: #fff;
}
.navbar-collapse .mr-auto .nav-item a:hover{
  background-color: #f72b3f;
  color: #fff;
}
.navbar-collapse .mr-auto .nav-item a:focus{
  background-color: #f72b3f;
  color: #fff;
}
.fa-shopping-cart{
  font-size: 2rem;
  color: #252525;
}
.badge {
  border-radius: 50%;
  background-color:  #f72b3f;
  color: #fff;
  font-size: 90%;
}
.cart{
  /* background-color: #252525; */
  display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.cart:hover{
  border: none;
  text-decoration: none;
}
/* .navbar-collapse .mr-auto .nav-item a:hover{
  color: #fff;
} */
.dropdown-menu{
  padding: 0px;
  margin: 0px;
  border: none;
  border-radius: 0;
  box-shadow: 0px 0px 5px #252525;
}
.navbar-brand {
  padding: 12px 30px;
}
.dropdown-menu > .dropdown-item{
  padding: 10px 10px;
}
.next{
  font-size: 1.7rem;
    background-color: rgba(0,0,0,.5)!important;
    padding: 0px 10px;
}
.previous{
  font-size: 1.7rem;
    background-color: rgba(0,0,0,.5)!important;
    padding: 0px 10px;
}
svg{
  font-size: 40px;
  color: black;
  margin-left: 5px
}

/* menu mobile */
.navbar-toggler{
  margin-left: 5px
}

.fa-search:before {
  font-size: 25px;
}


#searchbox {
  width: 240px;
}
#searchbox input {
  outline: none;
}



/* het menu mobile */
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
}
input:focus::-moz-placeholder {
  color: transparent;
}
#searchbox input[type="text"] {
  background: url(http://2.bp.blogspot.com/-xpzxYc77ack/VDpdOE5tzMI/AAAAAAAAAeQ/TyXhIfEIUy4/s1600/search-dark.png) no-repeat 10px 13px #f2f2f2;
  border: 2px solid #f2f2f2;
  font: bold 12px Arial,Helvetica,Sans-serif;
  color: #6A6F75;
  width: 160px;
  padding: 14px 17px 12px 30px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
  text-shadow: 0 2px 3px #fff;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
#searchbox input[type="text"]:focus {
  background: #f7f7f7;
  border: 2px solid #f7f7f7;
  width: 200px;
  padding-left: 10px;
}

#button-submit{
  background: url(http://4.bp.blogspot.com/-slkXXLUcxqg/VEQI-sJKfZI/AAAAAAAAAlA/9UtEyStfDHw/s1600/slider-arrow-right.png) no-repeat;
  margin-left: -40px;
  border-width: 0px;
  width: 43px;
  height: 45px;
}

/* het menu mb */
.tittle h2{
  font-family: "Product Sans";
  font-weight: bold;
  color: #252525;
  padding: 0;
  margin: 0;
  font-size: 26px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  overflow: hidden;
  margin: 10px 0;
}

.tittle h2 a{
  color: #252525;
  position: relative;
  text-decoration: none;
  font-family: Arial ;
  font-weight: 500;
}

/* hàng mới */
.thanhngang{
  position: relative;
}
.thanhngang::before{
  left: -15px;
    padding-left: 9999px;
    margin-left: -9999px;
    content: '';
    position: absolute;
    top: calc(50% + 2px);
    height: 1px;
    background: #e8e8e8;
}
.thanhngang::after{
  content: '';
    position: absolute;
    top: calc(50% + 2px);
    height: 1px;
    background: #e8e8e8;
    right: -15px;
    padding-right: 9999px;
    margin-right: -9999px;
}
/* nav ul li:focus{
  background: #f72b3f;
} */
.tittle h2 a:hover{
  color: #f72b3f;
}


/* hàng mới */
.thumbnail{
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 200px;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  margin-left: 30px;
}


.thumbnail:hover .image {
  opacity: 0.8;
  cursor: pointer;
}

.thumbnail:hover .themgiohang button{
  opacity: 1;
}

.owl-item{
  box-shadow: 0px 0px 5px #ccc;
  /* width: 212.6px !important;
  margin-right: 30px !important; */
}
.images {
 max-height: 100%;
 width: auto !important;
 max-width: 70%;
 display: block;
 margin-left: 25px;
}

/* hết hàng mới */


/* banner */
.zoom {
  transition: transform .2s;
  margin: 0 auto;
  margin-bottom: 20px;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
}

/* hết banner */

/* sp */
.tittle2 h4 a:hover{
  color: #f72b3f;
}
.tittle2 h4 a{
  color: white;
  font-family: "Product Sans";
  text-decoration: none;
  /* position: relative; */
  bottom: 30px;
}

.sanpham .bannera .img1{
  width: 100%;
    height: 270px;
    display: block;
    position: relative;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.phantrang  .pagination .page-link{
    color: black;
  }


.tittle2 span{
  /* position: absolute; */
  top: 25px;
  left: 60px;
  right: 0;
  /* padding: 0 30px; */
  font-weight: 400;
  text-align: left;
  color: #fff;
  font-family: "Product Sans";
  font-size: 14px;
}

/* hết sản phẩm */
/* tin tức */
.content_nd a:hover{
  color: #f72b3f;
}

.content_nd h3 a{
  color: black;
  margin-top: 10px;
  text-decoration: none;
  font-weight: inherit;

}

.content_nd {
  margin-top: 10px;
}

.content_new{
  padding: 25px;
    background: #f5f6fb;
    float: left;
    width: 100%;
    text-align: center;
}

.content_nd h3{
  margin: 0;
    font-size: 16px;
    font-weight: 700;

    padding-bottom: 5px;
    color: #252525;
}

.content_nd2{
  float: left;
    width: 100%;
    margin-bottom: 15px;
}
.content_nd2 p{
  margin: 0;
    color: #707070;
    padding-top: 5px;
    font-size: 13px;
    font-family: "Product Sans"
}
.date_content{
  position: absolute;
    bottom: 0px;
    left: 0px;
    background: #fff;
    opacity: 0.95;
    padding: 10px 20px 8px 20px;
    font-size: 12px;
    width: 100%;
    color: #707070;
}

.time_content{
  /* position: absolute; */
    bottom: 0px;
    left: 0px;
    background: #fff;
    opacity: 0.95;
    padding: 10px 20px 8px 84px;
    font-size: 12px;
    width: 100%;
    color: #707070;
}

/*hết tin thời rtang  */

/* liên hệ */
.awe-section-8 {
  margin-bottom: 0px;
}

.section_hotline {
  margin: 30px 0 0px 0;
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  height: 360px;
}

.text-center {
  text-align: center;
}

.custom-center-body {
  color: #fff;
  text-align: center;
  display: inline-block;
}

.custom-center-body h2, .custom-center-body a {
  color: #fff;
}

.custom-center-body a {
  font-size: 26px;
  font-weight: bold;

}

.hai01:hover{
  color: #f72b3f;
}
/* hết đg day nóng */

/* footer */

.foote .widget-ft {
    margin-bottom: 20px;
}

.foote .title-menu {
    margin: 0;
    line-height: normal;
    letter-spacing: 0.5px;
    margin-top: 40px;
    color: #252525;
}

.foote .title-menu a {
    cursor: default;
    font-size: 16px;
    font-weight: bold;
    color: #252525;
    position: relative;
    margin-left: 0px;
}
.title-menu4 a {
    font-size: 14px;
    font-weight: bold;
    color: #252525;
    margin-left: 0px;
}

.foote ul.contact.contact_x li span {
    color: #acacac;
}

.foote ul.contact.contact_x li {
    color: #acacac;
    margin-bottom: 0px !important;
    line-height: 25px;
}

.item ul{
  list-style: none;
  margin-left: 0px;
}

.contact_x{
margin: 0;
padding: 0;
}


.foote .list-menu {
    line-height: 35px;
    padding: 0;
    list-style: none;
}


.list-menu li a{
 font-size: 16px;
  text-decoration: none;
      color: #acacac;
}


/* hết footer */


/* form nhập */

form.example input[type=text] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid grey;
    float: left;
    width: 75%;
    background: #f1f1f1;
    margin-top: 5px;
    height: 35px;
}

form.example button {
    float: left;
    width: 20%;
    /* padding: 10px; */
    background: #252525;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 35px;
    margin-top: 5px;
}


form.example::after {
  content: "";
  clear: both;
  display: table;
}
/* het form */


/* chi tiết sản phẩm */
.banner_noidung {
  background-image: url('../image/bannerchitiet.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 60px 0px 60px 0px;
  height: 100%
}

.banner_noidung h4{
  color: white;
  font-size: 40px;
  text-align: center;
  line-height: 50px;
  font-family: sans-serif;
}


/* ảnh chi tiết sp */
.content_chitiet{
  margin-top: 20px;
}

.anh_sp_chitiet img{
  width: 100%;
}

.chitiet_sp_lq img{
  width: 100%;
}

.anh_sp_chitiet{
  border: 1px solid #ebebeb;
}

.anh_sp_lq{
  /* border: 2px solid #ddd;box-shadow: 1px 1px 1px #ddd; */
  margin-top: 20px;
  overflow: hidden;
}

.anh_sp_lq .chitiet_sp_lq img{
  border: 1px solid #ebebeb;
}
.anh_sp_lq .chitiet_sp_lq img:hover{
  border: 2px solid #f72b3f;
}

/* nôi dung chi tiết sp */
.title-product {
    color: #252525;
    line-height: normal;
    font-family: Arial;
    margin: 0px 0 10px;
    font-weight: 400;
    font-size: 24px;
}

.thuonghieu_sp {
    margin-bottom: 15px !important;
    font-size: 16px;
}

.giasanpham span{
     font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    display: inline-block;
    font-family: "Roboto",sans-serif;
}
.giasanpham .giasp{
  color: #f72b3f;
}
.soluongsp{
  margin-top: 20px;
}

.soluongsp button a{
  text-decoration: none ;
  color: black;
}

.soluongsp button a:hover{
  color: #f72b3f;
}

.tuvansp .tuvan{
  display: inline-block;
    float: left;
    font-size: 16px;
}

.tuvansp .thanhtoans{
  display: inline-block;
    float: right;
}

.tuvansp .thanhtoans img{
  border: 0 none;
  width: 100%;
  height: auto;
}

/* banner sale */
.sale{
  margin-top: 30px;
}

/* sản phẩm lq */
.sanphamlq{
  background-image: url('../image/bg_hotline.jpg');
  margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 100px 0px 90px 0px
}
.khungbaoquanh{
    padding: 50px 50px 50px 50px;
    border: 1px solid #fff;
    margin: 0 150px
}

/* .splq{
   border: 1px solid #ddd;box-shadow: 1px 1px 1px #ddd;
   margin-left: 5px;
} */

/* đang nhập */

.dangnhap p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.dangnhap input {
  width: 100%;
  margin-bottom: 10px
}

.dangnhap input{
  border: none;
  border-bottom: 1px solid gray;
  background: transparent;
  outline: none;
  height: 40px;
  color: black;
  font-size: 16px
}

.dangnhap input[type="submit"]{
  text-transform: uppercase;
  border: none;
  outline: none;
  height: 40px;
  background: #f72b3f;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.dangnhap input[type="submit"]:hover{
  cursor: pointer;
}

.taikhoan{
   border: 2px solid #ddd;box-shadow: 1px 1px 1px #ddd;
   margin: 40px 0px;
   margin-left: 25%;
}

.taikhoandn{
   border: 2px solid #ddd;box-shadow: 1px 1px 1px #ddd;
   margin: 40px 0px;
   margin-left: 25%;
}

.tieptuc{
    border: 1px solid #ebebeb;
    height: 50px;
    line-height: 50px;
    padding: 15px 30px;
    background: #f7f7f7;
}
.tieptucmua .tieptuc{
  text-decoration: none;
  color: black;
  font-size: 16px
}
.tieptucmua .tieptuc:hover {
  background: white;
  border: 1px solid red;
}

.thanhtoan{
    border: 1px solid #ebebeb;
    height: 50px;
    line-height: 50px;
    padding: 15px 30px;
    background: #f72b3f;
}
.tieptucmua .thanhtoan{
  text-decoration: none;
  color: #fff;
  font-size: 16px
}
.tieptucmua .thanhtoan:hover {
  background: white;
  border: 1px solid #f72b3f;
  color: #f72b3f;
}
.mua{
  padding: 10px 71.9px;
  color: #fff;
  background-color: #252525;
  text-transform: uppercase;
}
.mua:hover{
  text-decoration: none;
  color: #fff;
  background-color: #f72b3f;
}
.mua:focus{
  border: none;
  outline-color: none;
  outline-offset: none;
  outline-width: none;
  outline: none;
}
/* .bg_img_module {
  width: 100%;
  height: 410px;
  display: block;
  position: relative;
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
} */
.title-base{
  width: 200px;
  font-size: 30px;
  position: absolute;
  top: 50px;
  left: 19px;
  right: 0;
  padding: 0 20px;
  line-height: 42px;
  font-weight: 400;
  text-align: left;
  margin: 0;
}
.banner_img span {
  width: 200px;
  position: absolute;
  top: 110px;
  left: 19px;
  right: 0;
  padding: 0 20px;
  font-weight: 400;
  text-align: left;
  color: #fff;
  font-size: 14px;
}
.title-base a{
  color: #fff;
}
.title-base a:hover{
  text-decoration: none;
}
.bg_module{
  width: 100%;
    height: 363px;
    display: block;
}
.btn-shop-now{
  width: 111px;
  border-radius: 0;
    text-transform: uppercase;
    position: absolute;
    bottom: 70px;
    left: 40px;
    font-weight: 400;
    font-size: 14px;
    padding: 7px 20px;
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}
.btn-shop-now:hover{
  border: none;
  background-color: #f72b3f;
  color: #fff;
}
.size, .color, .gender{
  display: inline;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  position: absolute;
  background: transparent;
  outline: none;
  opacity: 0;
  left: 0px;
  height: 36px;
}
.size-item, .color-item, .gender-item{
margin: 0px 20px 15px 0;
  display: flex;
  float: left;
  -webkit-transform: translateZ(0);
  -webkit-font-smoothing: antialiased;
  position: relative;
}
.size-label, .color-label, .gender-label{
padding: 0 20px;
float: left;
  min-width: 60px !important;
  height: 36px !important;
  margin: 0;
  border: 2px solid #ebebeb;
  background-color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 34px;
  white-space: nowrap;
  text-transform: none;
  color: #252525;
border-radius: 0px;
cursor: pointer;
font-weight: 400;
}
.list-size input[type="radio"]:checked+label, 
.list-color input[type="radio"]:checked+label{
border: 2px solid #f72b3f;
  font-weight: 400;
  color: #f72b3f;
}
.list-gender input:checked+label{
  border: 2px solid #252525;
    font-weight: 400;
    color: #252525;
  }
.list-size, .list-color{
  display: flex;
}
input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {

  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 4px;
  background-color: #707070;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  font-family: sans-serif;
  max-width: 4rem;
  padding: .5rem;
  border: solid #ddd;
  font-size: 1.5rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}
.table-total .table tbody tr .total-text {
  font-weight: 400;
  padding-right: 15px;
  font-size: 24px;
}
.table-total .table tbody tr .price_end {
  font-weight: 400;
  font-size: 24px;
  color: #f72b3f;
}
.table-total .table tbody tr {
  border: none;
  float: right;
  display: inline-block;
  background: #fff;
}
/* .gioithieu:hover{
  text
} */



    .scrollable-nav {

        max-height: 300px;
        overflow-x: hidden;
        overflow: overlay;
        text-align:right;
    }
    
    @-moz-document url-prefix() {
        .scrollable-nav {
            padding-right: 0px !important;
        }
    }
.dropdown-info{
  display: block;
  position: absolute;
    /* top: 20%; */
  left: 68%;
  padding: 0px;
  margin: 0px;
  border: none;
  border-radius: 0;
  box-shadow: 0px 0px 5px #252525;
  top: 100%;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
}
.info-item{
  display: block;
    width: 100%;
    padding: 10px 10px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    text-decoration: none;
}
.info-item:hover{
  text-decoration: none;
  background-color: #f72b3f;
  color: #fff;
}
.info:hover{
  color: #f72b3f;
}
.info:focus{
  border: none;
  outline-color: none;
  outline-offset: none;
  outline-width: none;
  outline: none;
}
.info{
  border: none;
  background: #252525;
  padding: 0px;
  color: #fff;
}
.login{
  color: #fff;
}
.login:hover{
  color: #f72b3f;
}
.lichsumua{
  background: #252525;
    color: #ffff;
    padding: 8px 1.5rem;
    text-transform: uppercase;
    font-weight: 400;
}
.list-group{
  border-radius: 0px !important;
}
.list-group-item{
  background: #252525 !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}
.list-group-item:hover{
  background: #f72b3f !important;
  color: #fff !important;
  border: 1px solid #fff !important;
}
.don_hang{
  border-bottom: 2px solid #252525;
  border-top: 2px solid #252525;
}
.active-pa a{
  background-color: #252525 !important;
  color: #fff !important;
}
.xemgiohang{
  padding: 15px 40px;
  background: #f72b3f;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
  text-transform: uppercase;
}
.xemgiohang:hover{
  text-decoration: none;
  color: red;
  background-color: #fff;
  border: 1px solid red;
}
.xemgiohang:hover > i{
  color: red !important;
}
.xemlaigiohang:hover{
  margin-left: 5px;
}
.quenmk{
  color: #252525;
}
.quenmk:hover{
  text-decoration: none;
  color: #f72b3f;
  font-size: 15px;
}