body{
	background-image: url('../image/david-lezcano-Gikm-aEAIaE-unsplash.jpg');
	margin : 0;
	padding: 0;
	background-size :cover ;
	background-position: revert;
	font-family: sans-serif;
}
.loginbox{
	width: 320px;
	height: 420px;
	background: rgba(0, 0, 0, 0.5);
	color: #f5f5f5;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -10%;
	left: 100px
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px
}

.loginbox p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input {
	width: 100%;
	margin-bottom: 20px
}

.loginbox input[type="email"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px
}

.loginbox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #1c8adb;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover{
	cursor: pointer;
}