.box-tools .breadcrumb{
	margin-bottom: 0;
	padding: 5px;
	background: none;
}
.box-tools .breadcrumb li{
	margin-right: 15px;
	float: left
}
.box-tools .breadcrumb li a{
	color: #333
}
.content-header > .breadcrumb{
	padding: 0 7px
}
.content .panel-body{
	padding: 5px
}
.table-form .form-inline .input-group>.form-control{
	width: 300px;
}
.panel-pagination .panel-body{
	padding-top: 0;
	padding-bottom: 0;
}
.post-category{
	padding-left: 0
}
.post-category ul{
	padding-left: 15px
}
.btn-social{
	padding-left: 32px
}
.btn-social > :first-child {
    width: 32px;
    line-height: 32px;
    font-size: 16px;
}
.table-action a.label{
	margin-left: 5px
}
.list-images {
	display: flex;
	flex-wrap: nowrap;
	background-color: transparent;
	margin-top: 10px;
}
.list-images > div {
	width: 100px;
	margin: 0px 10px;
}
.size{
	left: 0px;
    height: 36px;
}
.size , .color, .style{
    display: inline;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    position: absolute;
    background: transparent;
    outline: none;
    opacity: 0;
}
.size-item, .color-item, .style-item{
	margin: 0px 20px 15px 0;
    float: left;
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased;
    position: relative;
}
.size-label, .color-label, .style-label{
	padding: 0 21px;
	float: left;
    min-width: 60px !important;
    height: 36px !important;
    margin: 0;
    border: 2px solid #ebebeb;
    background-color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 34px;
    white-space: nowrap;
    text-transform: none;
    padding: 0;
    color: #252525;
	border-radius: 0px;
	cursor: pointer;
	font-weight: 400;
}
.list-size input:checked+label , .list-color input:checked+label, .list-style input:checked+label{
	border: 2px solid #d3364a;
    font-weight: 400;
}
.list-size input:checked+label:after, .list-color input:checked+label:after, .list-style input:checked+label:after{
	content: "\F05E1";
    width: 20px;
    height: 20px;
    font-family: 'Material Design Icons';
    background: #d3364a;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    line-height: 20px;
	text-align: center;
	font-size: 20px;
}